<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Mobile Computers</title>
    <style>
        .pagination-centered {
            text-align: center;
        }
        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }
        .pointer-disabled {
            pointer-events: none;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:inline="javascript" >
        /*<![CDATA[*/
        $(document).ready(function() {
            changePageAndSize();
        });
        function changePageAndSize() {
            $('#pageSizeSelect').change(function(evt) {
                var url =  /*[[${url}]]*/ 'default'
                window.location.replace(url  +"?pageSize=" + this.value + "&page=1");
            });
        }
        /*]]>*/
    </script>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="table-responsive col-xs-10 col-md-12">
        <h2 th:text="${hostName == null} ? 'Mobile Computers' : 'Mobile Computer : '+${hostName}"></h2>
        <h2>
            <a href="/mc/create" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Mobile</a>
        </h2>
        <div >
            <table class="table" id="mobilelogs-table">
                <thead>
                <tr>
                    <th>Host Name</th>
                    <th>Asset Number</th>
                    <th>Model Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mc, iStat : ${list.content}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">
                    <td><a th:text="${mc.hostName}" th:href="@{'/mc/' + ${mc.id}}"></a></td>
                    <td th:text="${mc.assetNo}"></td>
                    <td th:text="${mc.modelName}"></td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="form-group col-md-1">
                    <select class="form-control pagination" id="pageSizeSelect">
                        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                                th:value="${pageSize}"
                                th:selected="${pageSize} == ${selectedPageSize}"></option>
                    </select>
                </div>
                <div th:if="${list.totalPages != 1}"
                     class="form-group col-md-11 pagination-centered">
                    <ul class="pagination">
                        <li th:class="${list.number == 0} ? disabled"><a
                                class="pageLink"
                                th:href="@{${url}(pageSize=${selectedPageSize}, page=1)}">«</a>
                        </li>
                        <li th:class="${list.number == 0} ? disabled"><a
                                class="pageLink"
                                th:href="@{${url}(pageSize=${selectedPageSize}, page=${list.number})}">Previous</a>
                        </li>
                        <li
                                th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
                                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                            <a class="pageLink"
                               th:href="@{${url}(pageSize=${selectedPageSize}, page=${page})}"
                               th:text="${page}"></a>
                        </li>
                        <li
                                th:class="${list.number + 1 == list.totalPages} ? disabled">
                            <a class="pageLink"
                               th:href="@{${url}(pageSize=${selectedPageSize}, page=${list.number + 2})}">Next</a>
                        </li>
                        <li
                                th:class="${list.number + 1 == list.totalPages} ? disabled">
                            <a class="pageLink"
                               th:href="@{${url}(pageSize=${selectedPageSize}, page=${list.totalPages})}">»</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--div th:if="${mobileLogPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/mobilelog(size=${mobileLogPage.size}, page=${pageNumber})}"
                   th:text=${pageNumber}
                   th:class="${pageNumber==mobileLogPage.number + 1} ? active"></a>
            </div-->

        </div>
    </div>
</div>


</body>
</html>


</body>
</html>