<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Mobile Logs</title>
</head>
<body>
<div layout:fragment="content" class="row">
<table border="1">
    <thead>
    <tr>
        <th th:text="#{msg.id}" />
        <th th:text="#{msg.name}" />
        <th th:text="#{msg.id}" />
        <th th:text="#{msg.name}" />
    </tr>
    </thead>
    <tbody>
    <tr th:each="mobilelog, iStat : ${mobileLogPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${mobilelog.computerName}" />
        <td th:text="${mobilelog.ipAddress}" />
        <td th:text="${mobilelog.loginId}" />
        <td th:text="${mobilelog.logDate}" />
        <td th:text="${mobilelog.logTime}" />
    </tr>
    </tbody>
</table>
<div th:if="${mobileLogPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/mobilelog/index/XT15-002(size=${mobileLogPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==mobileLogPage.number + 1} ? active"></a>
</div>

</div>
</body>
</html>