<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Mobile Logs</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-xs-8 col-md-8">
        <h2>Mobile Logs</h2>
        <div class="table-responsive">
            <table class="table" id="mobilelogs-table">
                <thead>
                <tr>
                    <th>Computer Name</th>
                    <th>Login ID</th>
                    <th>IP Address</th>
                    <th>Log Date</th>
                    <th>Log Time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ml : ${mobilelogs}">
                    <td th:text="${ml.computerName}"><</td>
                    <td th:text="${ml.loginId}"></td>
                    <td th:text="${ml.ipAddress}"></td>
                    <td th:text="${ml.logDate}"></td>
                    <td th:text="${ml.logTime}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>