<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>About</title>
</head>
<body>

<div layout:fragment="content" class="row">
    <div class="container">
        <div class="jumbotron">
            <h2>Glovis Mobile Control</h2>
            <p>Shows the usage of mobile devices in the internal network. </p>
        </div>
        <p>For how to use Rest API for logging, Refer to <a href="/swagger-ui.html" >Rest API doc</a></p>
        <p>created by sno@glovisusa.com 2018</p>
        <p>2018-08-01 v0.1.0 released</p>
    </div>
</div>
</body>
</html>

